{
  "extends": [
    "eslint:recommended"
  ],
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      //"js": true,
      "ts": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "node": true
  },
  "rules": {
    //"no-console": ["error", { "allow": ["warn", "error"] }]
  }
}